
img {
	width : 200px;
	transition : .3s ease-in-out;
}

img:hover {
	transform: scale(1.2);
}

figure {
	text-align : center;
	border : 2px solid aliceblue;
	border-radius : 3px;
	width : max-content;
}

figure:hover {
	background : aliceblue;
}